<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<h3> Final Exam For Winter 2024/ {{chhetriaVerify.chhetriaName}}</h3>

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">
  <mat-tab>
    <ng-template mat-tab-label>
      Serivces / {{chhetriaVerify.chhetriaLogin}}
    </ng-template>
    <app-service-chhetria> </app-service-chhetria>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
     Routing / {{chhetriaVerify.chhetriaLogin}}
    </ng-template>
    <app-route-chhetria></app-route-chhetria>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Forms / {{chhetriaVerify.chhetriaLogin}}
    </ng-template>
    <app-form-chhetria></app-form-chhetria>
  </mat-tab>


</mat-tab-group>

<h3> {{chhetriaVerify.chhetriaID}} / {{chhetriaVerify.chhetriaLogin}} / {{chhetriaVerify.chhetriaEmail}}</h3>
